.body{

        background-color: #8f8888;
}
.topnav {
        background-color: #000;
        overflow: hidden;
        font-family: Nunito;
        position: relative;
        z-index: 1;
}
 @media screen and (max-width: 600px) {
         .topnav a {
                float: none;
                display: block;
                text-align: left;
         }
 }
 .topnav a {
         float: left;
         color: coral;
         text-align: center;
         padding: 14px 16px;
        text-decoration: none;
        font-size: 19px;
 }
 .topnav a:hover {
         background-color: lightcoral;
         color: black;
 }
 .topnav a.active {
         background-color: black;
         color: coral;
         font-weight: bold;
         animation: bounce 0.5s;
 }
 @keyframes bounce {

        
        0%,
        20%,
        50%,
        80%,
        100%{
        transform: translateY(0);
         }

         40% {
                 transform: translateY(-15px);
         }

         60% {
                 transform: translateY(-10px);
         }
 }

 .title{
        text-align: center;
        margin: 50px;
 }
 .picture{
        width: 300px;
        border-radius: 40%;
        height: 200px;
 }
 .item-title{
        position: relative;
        left: 100px;
 }