<html>
        <head>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" />
                <link rel="stylesheet" href="{% static 'style.css' %}"/>
                <title>Lizzy Foods</title>
                <nav>
                        <div class="topnav">
                                <a class="active" href="#">Lizy Foods</a>
                                <a href="#news">Beverages</a>
                                <a href="#contact">Dishes</a>
                                <a href="#about">Special</a>
                        </div>
                </nav>
        </head>
        <body>
                
        </body>
</html>