<html>
        <head>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" />
                <link rel="stylesheet" href="{% static 'style.css' %}"/>
                <title>Lizzy Foods</title>
                <nav>
                        <div class="topnav">
                                <a class="active" href="#">Lizy Foods</a>
                                <a href="#beverages">Beverages</a>
                                <a href="#cdishes">Dishes</a>
                                <a href="#special">Special</a>
                                <a href="#desert">Desert</a>
                                <a href="#dinner">Dinner</a>
                                <a href="#menu">Menu</a>
                        </div>
                </nav>
        </head>
        <body>
                {% block content %}
        </body>
</html>