{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" />
        <link rel="stylesheet" href="{% static 'food/style.css' %}" />
        <title>Lizzy Foods</title>
</head>

<body>
        <script src="app.js"></script>
        <div class="nav-container">
                <nav class="navbar">
                        <h1 id="navbar-logo">Lizzy Foods</h1>
                        <div class="menu-toggle" id="mobile-menu">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                        </div>
                        <ul class="nav-menu">
                                <li><a href="#" class="nav-links">Home</a></li>
                                <li><a href="#" class="nav-links">Beverages</a></li>
                                <li><a href="#" class="nav-links">Dishes</a></li>
                                <li><a href="#" class="nav-links">Cart</a></li>
                                <li><a href="#" class="nav-links nav-links-btn">Sign Up </a></li>
                        </ul>
                </nav>
        </div>
</body>

</html>